.CurrentUser {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
  }

  .CurrentUser--identification {
    padding: 1em;
    flex: 1;
  }

  .CurrentUser--photo {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      padding: 15px;
  }


